---
import Layout from '../../../layouts/Layout.astro'
import { Navbar } from '../../../components/Navbar.jsx'
import { Blockchain } from '../../../components/Blockchain.jsx'
import { Footer } from '../../../components/Footer.jsx'
import blog1 from '../../../assets/images/blog1.jpg'
import '../../../styles/Theme.css'
import { ScrollUpButton } from '../../../components/ScrollUpButton'

const articleData = {
  title: "What is Blockchain?",
  image: blog1.src,
  content: `
    <p>A blockchain is a decentralized network of stored data base transactions on a block that's linked through a cryptographically recorded hash of the previous blocks transaction
       We choose to work along side blockchains that offer a decentralized public ledger with layer 1 and 2 networks which enables information transparency and provides a distributed, universal ledger of truth- unburdened by central administration controls or a single point of failure.
  </p>
  `,
  footer: "~ Duncan Idaho"
}
---

<Layout title={articleData.title}>
  <Navbar client:load />
  <Blockchain articleData={articleData} />
  <Footer />
  <ScrollUpButton client:load />
</Layout>
